html {
	background: $bg;
	color: $fg;
	font-family: "Roboto", sans-serif;
	padding: 0;
	margin: 0;
}

body {
	margin: 0 auto;
	padding: 3em 0 0 0;
	position: relative;
	width: 80vw;
	z-index: 1;
}

body > * {
	margin-bottom: 3em;
}

.content {
	border-left: 0.4em solid transparent;
	box-sizing: border-box;
	justify-content: space-between;
	padding: 2.1em;
}

.row, .col, .row-d-col-m, .row-d-row-m {
	display: flex;
}
.col {
	flex-direction: column;
}
.centred {
	justify-content: center;
}
.cross-centred, .cross-centred-d {
	align-items: center;
}

@media screen and (orientation: portrait) {
	.row-d-col-m {
		flex-direction: column;
	}
	.row-d-row-m {
		flex-wrap: wrap;
	}
	.cross-centred-d {
		align-items: unset;
	}
	.cross-centred-m {
		align-items: center;
	}
}
